@model IEnumerable<Book>
<div class="row pb-3">
  @foreach(var book in Model)
  {
    <div class="col-lg-3 col-sm-6">
      <div class="row p-2">
        <div class="col-12 p-1">
          <div class="card border-0 p-3 shadow border-top border-5 rounded">
              <img src="@book.ImageUrl" class="card-img-top rounded"/>
              <div class="pl-1">
                <p>@book.Title</p>
              </div>
              <div>
              <a asp-area="Customer" asp-controller="home" asp-action="details" asp-route-ProductIdShouldBeTheSameAsHere="@book.Id" class="btn-primary bg-gradient border-0 form-control">Details</a>
              </div>
          </div>
        </div>
      </div>
    </div>
 
  }
</div>
